demo/n8n-workflows/duplicate-trigger-risk-sample.json
{
  "name": "Lead Rescue Works - Duplicate Trigger Risk Sample",
  "nodes": [
    {
      "parameters": {
        "path": "risk-sample",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "IncomingWebhook",
      "name": "Incoming Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "risk-sample"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.eventType }}",
              "operation": "contains",
              "value2": "lead"
            }
          ]
        }
      },
      "id": "CheckEventType",
      "name": "Check Event Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nreturn [{ json: { phone: body.phone, eventType: body.eventType, receivedAt: new Date().toISOString() } }];"
      },
      "id": "NormalizeEvent",
      "name": "Normalize Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 220]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { alert: `Call ${$json.phone || 'missing phone'} now` } }];"
      },
      "id": "SendOwnerAlert",
      "name": "Send Owner Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [980, 300],
      "retryOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true } }}",
        "options": {}
      },
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1220, 300]
    },
    {
      "parameters": {
        "content": "Intentional demo flaw: the webhook fans out directly to Send Owner Alert and through the normalized lead branch."
      },
      "id": "RiskNote",
      "name": "Risk Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [500, 60]
    }
  ],
  "connections": {
    "Incoming Webhook": {
      "main": [
        [
          {
            "node": "Check Event Type",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Owner Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Event Type": {
      "main": [
        [
          {
            "node": "Normalize Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Event": {
      "main": [
        [
          {
            "node": "Send Owner Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Owner Alert": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "duplicate-trigger-risk-sample-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}
